body
{
    margin: 0px;
    padding: 0px;
}

.header .header-img
{
    position: relative;
    background-image: url("assets/backgrounds/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 93vh;
}
.header .header-img button
{
    position: absolute;
    top: 1.7em;
    left: 1.7em;
    border: none;
    font-size: 40px;
    padding: auto 0px;
    background-color:transparent;
    color: white;
}
.header .header-img button:hover
{
    color: rgb(9, 9, 9);
    cursor: pointer;
}
.header .header-img button .fa
{
    transform: scale(1.5,0.8);
    line-height: 5px;
}


.header .header-title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header .header-title .title-name span
{
    font-weight:100;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

.header .captions
{ 
    display:flex;
    font-size: 1.7em;
    flex-direction: row;
    height: 7em;
}
.header .captions .cols
{
    width: 25%;
    position: relative;
}
.header .captions .cols p
{
    margin: 0;
    position: absolute;
    text-align: center;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-style: italic;
}
.header .captions .first-col
{
    display: grid;
    grid-auto-rows: 1fr;
    text-align: center;
}
.header .captions .first-col p
{
    font-style: normal;
}

.header .captions .first-col .first-row
{
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 0;
}

.header .captions .first-col .second-row
{
    position: relative;
    color: white;
    background-color:#F15A29;
}
.header .captions .second-col
{
    color: white;
    background-image: url("assets/foodtop/breakfast.jpg");
    background-position: center;
    background-size: cover; 
}
.header .captions .third-col
{
    opacity: 0.7;
    color: white;
    background-image: url("assets/foodtop/lunch.jpg");
    background-position: center;
    background-size: cover; 
}
.header .captions .third-col p
{
    opacity: 0.7;
}
.header .captions .fourth-col
{
    color: white;
    background-image: url("assets/foodtop/dinner.jpg");
    background-position: center;
    background-size: cover; 
}



/* DESCRIPTION section */
.description .first-row
{
    width: 90%;
    margin: 5% auto 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.description .first-row .col-1
{
    display: grid;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    width: 40%;
    text-align: center;
}
.description .first-row .col-1 .row 
{
    padding: 0px;
    margin: 0px;
    background-color: khaki;
}
.description .first-row .col-1 .row img
{
    width: 100%;
    height: 100%;
}
.description .first-row .col-2
{
    padding: 15px;
    width: 40%;
}


.description .second-row
{
    width: 90%;
    margin: 5% auto 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.description .second-row .col-1
{
    text-align: right;
    padding: 15px;
    width: 40%;
}
.description .second-row .col-2
{
    display: flex;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    width: 40%;
    text-align: center;
}
.description .second-row .col-2 .row 
{
    padding: 0px;
    margin: 0px;
    background-color: khaki;
}
.description .second-row .col-2 .row img
{
    width: 100%;
    height: 100%;
}



.description h1
{
    font-size: 40px;
    margin-block-start: 0em;
    margin-block-end: 0.17em;
}
.description h4
{
    font-size: 23px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.description p
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
}
.description button
{
    border: 1px solid #F15A29;
    padding: 12px;
    font-size: 17px;
    border-radius: 3px;
    font-weight: 600;
    color:#F15A29;
    background-color: white;
}
/* from here */
/* MENU SECTION */
.menu
{
    position: relative;
    background-image: url("assets/backgrounds/foodsBg.jpg");
    height: 540px;
    height: 35em;
}
.menu .menu-class
{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 80%;
    height: 24em;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.menu .menu-class .menu-items
{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(65, 63, 63);
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(180, 175, 175);
}
.menu .menu-class .menu-items div:first-child
{
    color: #F15A29;
}
.menu .menu-class .menu-items div
{
    background-color: cyan;
    width:25%;
    font-weight: 400;
    font-size: 20px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(186, 186, 186);
    font-weight: 700;
}
.menu .menu-class .menu-items div:first-child
{
    border: none;
    background-color: #fff;
}
.menu .menu-class .images
{
    margin: 30px 20px -5px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.menu .menu-class .images .cols img
{
    padding: 2px;
}
.menu .menu-class .images .fa
{
    font-weight: 400;
}
.menu .menu-class .images .span1
{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
    font-size: 3em;
    color: #F15A29;
}
.menu .menu-class .images .span2
{
    display: flex;
    align-items: center;
    font-size: 3em;
    color: #F15A29;
}
.menu .menu-class .images h1
{
    font-size: 40px;
    font-weight: 1000;
}
.menu .menu-class .images h3
{
    color: #F15A29;
    margin-top:0.4em;
}
.menu .menu-class .cols
{
    width: 30%;
}


/* REVIEWS */
.review
{
    box-shadow: 0px 0px 10px grey;
    background-color: white;
    height: 28em;
    position: relative;
}
.review .row
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 80%;
    height: 15em;
    box-shadow: 0 0 5px rgb(179, 179, 179);
    display: flex;
    padding: 0.8em;
}
.review .row h2
{
    color: #F15A29;
}

.review .row p
{
    line-height: 1.5;
}
.review .row .col-1
{
    text-align: center;
    padding: 0.5em;
    width: 65%;
    border-right: 2px solid rgb(170, 170, 170);
}
.review .row .col-1 .customers
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review .row .col-1 .customers .profiles
{
    display: flex;
    align-items: center;
}
.review .row .col-1 .customers .profiles div
{
    padding: 0;
    margin-left: 0.7em;
    margin-right: 0.7em;
    display: flex;
    justify-content: center;
}
.review .row .col-1 .customers .profiles div img
{
   padding: 0;
   margin:0;
}
.review .row .col-1 .customers .fa
{
    font-weight: bold;
}

.review .row .col-1 .customers .span1, .span2
{   
    font-size: 2em;
    color: #F15A29;
}

.review .row .col-1 .customers .span1
{
    margin-right: 0.8em;
    font-weight: 1000;
}

.review .row .col-1 .customers .span2
{
    margin-left: 0.8em;
}
.review .row .col-2
{
    text-align: center;
    padding: 0.5em;
    width: 35%;
}

