body
{
    margin: 0px;
    padding: 0px;
}

.header .header-img
{
    position: relative;
    background-image: url("assets/backgrounds/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 93vh;
}
.header .header-img button
{
    position: absolute;
    top:8%;
    left:6%;
    border: none;
    font-size: 40px;
    padding: auto 0px;
    background-color:transparent;
    color: white;
}
.header .header-img button:hover
{
    color: rgb(114, 75, 75);
    cursor: pointer;
}
.header .header-img button .fa
{
    transform: scale(1.5,0.8);
    line-height: 5px;
}


.header .header-title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header .header-title .title-name span
{
    font-weight:100;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

.header .captions
{ 
    display:flex;
    font-size: 1.7em;
    flex-direction: row;
    height: 7em;
}
.header .captions .cols
{
    width: 25%;
    position: relative;
}
.header .captions .cols p
{
    margin: 0;
    position: absolute;
    text-align: center;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-style: italic;
}
.header .captions .first-col
{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: auto;
    text-align: center;
}
.header .captions .first-col p
{
    font-style: normal;
}

.header .captions .first-col .first-row
{
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 0;
}

.header .captions .first-col .second-row
{
    position: relative;
    color: white;
    background-color:#F15A29;
}
.header .captions .second-col
{
    color: white;
    background-image: url("assets/foodtop/breakfast.jpg");
    background-position: center;
    background-size: cover; 
}
.header .captions .third-col
{
    opacity: 0.7;
    color: white;
    background-image: url("assets/foodtop/lunch.jpg");
    background-position: center;
    background-size: cover; 
}
.header .captions .third-col p
{
    opacity: 0.7;
}
.header .captions .fourth-col
{
    color: white;
    background-image: url("assets/foodtop/dinner.jpg");
    background-position: center;
    background-size: cover; 
}

/* DESCRIPTION section */
.description .first-row
{
    width: 89%;
    height: 25em;
    margin: 6% auto 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}
.description .first-row .col-1
{
   text-align: center;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    width: 40%; 
    display: grid;
    grid-auto-rows: 1fr;
}
.description .first-row .col-1 .row
{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.description .first-row .col-1 .row img
{

    width: 100%;
    height: 100%;
}
.description .first-row .col-2 div
{
   padding-left:40px; 
}
.description .first-row .col-2
{
    padding: 20px;
    width: 40%;
}


.description .second-row
{

    width: 89%;
    margin: 5% auto 6%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

.description .second-row .col-1
{ 
    text-align: right;
    padding: 20px;
    width: 40%;
}
.description .second-row .col-2
{
    display: flex;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    width: 40%;
    text-align: center;
}
.description .second-row .col-1 div
{
   padding-right:40px; 
}
.description .second-row .col-2 .col 
{
    padding: 0px;
    margin: 0px;
    background-color: khaki;
}
.description .second-row .col-2 .col img
{
    width: 100%;
    height: 100%;
}

.description h1
{
    font-size: 37px;
    margin-block-start: 0em;
    margin-block-end: 0.17em;
}
.description h4
{
    font-size: 21px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.description p
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-size: 16px;
}
.description button
{
    margin:15px 0px 10px;
    border: 1px solid #F15A29;
    padding: 12px;
    font-size: 17px;
    border-radius: 3px;
    font-weight: 600;
    color:#F15A29;
    background-color: white;
}
.description button:hover
{
    cursor: pointer;
    color: rgb(182, 0, 0);
}

/* MENU SECTION */
.menu
{
    display: flex;
    background-image: url("assets/backgrounds/foodsBg.jpg");
    height: auto !important;
    padding: 7%;
}
.menu .menu-class
{
    width: 87%;
    height: 23em;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.menu .menu-class .menu-items
{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(65, 63, 63);
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(180, 175, 175);
}
.menu .menu-class .menu-items div:first-child
{
    color: #F15A29;
}
.menu .menu-class .menu-items div
{
    width:25%;
    font-weight: 400;
    font-size: 20px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    padding: 20px;
    border-top: 0.7px solid rgb(186, 186, 186);
    border-left: 0.7px solid rgb(186, 186, 186);
    border-bottom: 0.7px solid rgb(186, 186, 186);
    font-weight: 700;
}
.menu .menu-class .menu-items div:first-child
{
    border: none;
    background-color: #fff;
}

.menu .menu-class .images
{
    margin: 30px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.menu .menu-class .images img
{
    width: 100%;
}
.menu .menu-class .captions
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #F15A29;
    margin: 0px 0px -5px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.menu .menu-class .captions h3
{
    color: #F15A29;
    margin-top: 0.7em;
}

.menu .menu-class .fa
{
    font-weight: 600;
}
.menu .menu-class .images .span1
{
    display: flex;
    align-items: center;
    margin-right: 0em;
    font-size: 2.5em;
    color: #F15A29;
}
.menu .menu-class .images .span2
{
    display: flex;
    align-items: center;
    font-size: 2.5em;
    margin-left: 0em;
}
.menu .menu-class .captions .span1
{
    display: flex;
    align-items: center;
    margin-right: 0.3em;
    font-size: 2.5em;
    color: #ffffff;
}
.menu .menu-class .captions .span2
{
    display: flex;
    align-items: center;
    font-size: 2.5em;
    margin-left: 0.3em;
    color: #fff;
}
.menu .menu-class .images h1
{
    font-size: 40px;
    font-weight: 1000;
}

.menu .menu-class .cols
{
    width: 27%;
}


/* REVIEWS */
.review
{
    box-shadow: 0px 0px 10px grey;
    background-color: white;
    min-height: 28em;
    display: flex;
    align-items: center;
}
.review .row
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 80%;
    height: 15em;
    box-shadow: 0 0 5px rgb(179, 179, 179);
    display: flex;
    padding: 2em;
}
.review .row h2
{
    color: #F15A29;
}

.review .row p
{
    line-height: 1.5;
}
.review .row .col-1
{
   text-align: center;
    padding: 1em;
    width: 65%;
    height: 80%;
}
.review .row .col-1 .customers
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review .row .col-1 .customers .profiles
{
    display: flex;
    align-items: center;
}
.review .row .col-1 .customers .profiles div
{
    padding: 0;
    margin-left: 0.7em;
    margin-right: 0.7em;
    display: flex;
    justify-content: center;
}
.review .row .col-1 .customers .profiles div img
{
   padding: 0;
   margin:0;
}
.review .row .col-1 .customers .fa
{
    font-weight: bold;
}

.review .row .col-1 .customers .span1, .span2
{   
    font-size: 2em;
    color: #F15A29;
}

.review .row .col-1 .customers .span1
{
    margin-right: 0.8em;
    font-weight: 1000;
}

.review .row .col-1 .customers .span2
{
    margin-left: 0.8em;
}
.review .row .col-2
{
    border-left: 1px solid rgb(221, 221, 221);

    text-align: center;
    padding: 0.5em;
    width: 35%;
}


/* FOOTER */
footer
{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 1fr;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 37em;
    color: #fff;
}
footer .row1
{
    background-image: url("assets/backgrounds/subscribe.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
}


footer input[type=email] 
{
    background-color: rgba(255,255,255, 0.2);
    border: none;
    padding: 0.6em;
    width: 63%;
    font-size: 20px;
    border-radius: 4px;
    color: rgb(206, 15, 15);
}
::placeholder 
{ 
    color: rgb(255, 255, 255);
}
footer button
{
    color: white;
    border-radius: 4px;
    padding: 0.6em;
    font-size: 20px;
    border: none;
    width: 30%;
    background-color:#F15A29;
}

footer .row2
{
    background-color: #F15A29;
    position: relative;
}

footer .row2 .footer-title
{
    margin-top: 0.7em;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .row2 p
{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.social
{
    display: flex;
    justify-content: center;
}
.social .fb, .pinterest, .twitter
{
    display: grid;
    margin: 0em 0.7em 0em;
    position: relative;
}

.social .fb .fa, .pinterest .fa, .twitter .fa
{
    position: absolute;
    color: #F15A29;
    top: 35%; left: 35%; 
    transform: translateY(-35%, -35%);  
}
.social .fa:hover
{
    color: brown;
    cursor: pointer;
}

/* **************RESPONSIVENESS*************** */
@media screen and (max-width: 800px) 
{
  /* header section */
.header .header-title
{
    width: 50%;
}
.header .header-img button
{
    position: absolute;
    top:6%;
    left:7%;
    border: none;
    font-size: 40px;
}
.header .header-title .title-name span
{
      font-size: 1.5em;
}
.header .header-title img 
{
    width: 100%;
}

.header .captions
{ 
    font-size: 1.2em;
    height: 5em;
}
.header .captions .cols
{
    width: 25%;
    position: relative;
}
    
/* DESCRIPTION section */
.description .first-row
{
    width: 100%;
    height:auto !important;
}
.description .first-row .col-1
{
    width: 80%;   
}


.description .first-row .col-2
{
    width: 80%;
    padding: 30px;
}


.description .second-row
{
    width: 100%;
}

.description .second-row .col-1
{ 
    text-align: right;
    padding: 20px;
    width: 80%;
}
    .description .second-row .col-1 div
{
    padding-right:40px; 
}
.description .second-row .col-2
{
    width: 80%;
}

.description .second-row .col-2 .col 
{
    width: 50%;
}
.description h1
{
    font-size: 1.5em;
    margin-block-end: 0.14em;
}
.description h4
{
    font-size: 1em;
}
.description p
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
}
.description button
{
    margin:10px 0px 10px;
    border: 1px solid #F15A29;
    padding: 12px;
    font-size: 15px;
    border-radius: 3px;
}

/* MENU SECTION */

.menu .menu-class
{
    width: 100%;
    height: auto !important;
}

.menu .menu-class .menu-items div
{
    font-size: 15px;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}

.menu .menu-class .images
{
    margin: 30px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.menu .menu-class .captions
{
    font-size: 15px;
}
.menu .menu-class .captions h3
{
   font-size: 12px;
    margin-top: 0.7em;
}

.menu .menu-class .cols
{
    width: 28%;
}

 /* REVIEWS */
    
.review
{
    height:auto !important; 
    }
.review .row
{  
    margin: 2em auto 2em;     
    width: 80%;
    height: auto !important;
    flex-direction: column;
    align-items: center;
}
.review .row h2
{
   font-size: 1.3em;
}
.review .row .col-1
{
    width: 100%;
    height: auto;
}

.review .row .col-2
{
    border-left: 0px solid rgb(221, 221, 221);
    border-top: 3px solid rgb(221, 221, 221);
    width: 100%;
    height: auto ;
}

/* FOOTER */
footer
{
    height: 30em;
}
footer .centerDiv
{
    width: 90%;
}
footer .centerDiv h2
{
    font-size: 1.3em;
}

footer .row2 .footer-title
{
    height:1.5em;
}
footer .row2 .footer-title img
{
    height: 100%;
}
footer input[type=email] 
{
    padding: 0.6em;
    width: 60%;
    font-size: 15px;
    color: rgb(206, 15, 15);
}

footer button
{
    font-size: 15px;
    width: 30%;
}


footer .row2 .footer-title
{
    font-size: 1.5em;
}
footer .row2 h3
{
    font-size: 1em;
}

}


@media screen and (max-width: 550px) 
{
  /* header section */

.header .header-title .title-name span
{
      font-size: 1.1em;
}
.header .captions
{ 
    font-size: 1em;
    height: 3em;
}

/* footer */
footer .centerDiv h2
{
    font-size: 1em;
}

}